<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="GemaltoService_URL" value="http://localhost:8080" />
    <add key="IDScan_LicenseParseAPI_URL" value="https://app1.idware.net/DriverLicenseParserRest.svc/ParseImage" />
    <add key="AuthKey" value="nA+XXGPaAYuTGhut/wQgz98s7mlLBKBPchHm4ldroQYe7LT0QGG+YjTL6KFhHWYh" />
    <add key="DBAPI_Url" value="https://mrmtest01.altra.org/ScannerConnect/" />
    <add key="DBAPI_ClientID" value="5CA46823-ED86-4F1B-A821-82E229632226" />
    <add key="DBAPI_ClientSecret" value="St1r9iNcKqpbTNrTAuNo4PLtqszZ5vtyapdzAn549JOomQKrWbaC02C8yI2ddWdSJfOXl0FKXJdT16UtcwvjYWc3YMnAh0EbsfQXrPs/FRrpfHQgBZ/CAiTrnNYrsZpU" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>