<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="GemaltoService_URL" value="http://localhost:8080" />
    <add key="IDScan_LicenseParseAPI_URL" value="https://app1.idware.net/DriverLicenseParserRest.svc/ParseImage" />
    <add key="AuthKey" value="395fc6af-3e10-4721-80df-4232dec9d8f4" />
    <add key="DBAPI_Url" value="https://localhost:44341" />
    <add key="DBAPI_ClientID" value="5CA46823-ED86-4F1B-A821-82E229632226" />
    <add key="DBAPI_ClientSecret" value="7bYF21PssrDrn/mlgzr/RQLNbDlVmnP3BW6bYK5xsqc9uEKNctkqdsUjSaIK9m7jvhYgTWhZSlIM1Jn2L2za1g==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>